huggingface-hub==0.19.4
pillow==10.2.0
pylatexenc==2.10
PyMuPDF==1.23.21
PyMuPDFb==1.23.9
pyparsing==3.1.1
pypdf==4.0.1
scipy==1.12.0
tqdm==4.66.1
transformers==4.37.2
ultralytics==8.1.10
texify==0.1.8
torch
torchvision
