nougat-ocr==0.1.17
marker-pdf>=0.1.3,<=1.0.2
transformers==4.38.2
albumentations==1.4.11
albucore==0.0.16
PyMuPDF>=1.23.20
pypdf>=4.0.0
pytesseract>=0.3.13
fasttext==0.9.3
scikit-learn>=1.5.0
datasets>=3.0.0
parsl==2024.9.16
accelerate==0.34.2
